<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="canvas-container">
          <canvas id="terrain" width="1024" height="640"></canvas>
          <canvas id="player" width="1024" height="640"></canvas>
          <canvas id="environment" width="1024" height="640"></canvas>
          <canvas id="hud" width="1024" height="640"></canvas>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/javascripts/engine/main.js"></script>
  </body>
</html>
